# LiveKit Server Connection Details
LIVEKIT_URL=wss://dost-talk-3b4tto0n.livekit.cloud
LIVEKIT_API_KEY=APIgfDf6krFFzKK
LIVEKIT_API_SECRET=bUHRtdSsNOGGOGQLvb7oLF48U00mc0ViQNazPlqqTTC

# Frontend Environment Variables
VITE_LIVEKIT_URL=wss://dost-talk-3b4tto0n.livekit.cloud
VITE_LIVEKIT_TOKEN_ENDPOINT=/api/token
VITE_LIVEKIT_TOKEN=
